*{
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 1em;
  padding-top: 0;
}

input,
textarea{
  display: block;
  width: 100%;
}

.comment {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.delete{
  cursor: pointer;
}

img{
  max-width:100%;
}
