<html ng-app="grumblr">
<head>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="js/controllers/grumbles.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Grumblr</h1>
  <div ng-view></div>

  <!-- <div ng-controller="grumblesController as grumblesCtrl">
    <div id="createGrumble">
      <a href="#" ng-click="grumblesCtrl.toggleForm()">New Grumble</a>
      <form ng-show="grumblesCtrl.formIsVisible" name="grumblesCtrl.grumbleForm" class='grumbleForm' ng-submit="grumblesCtrl.create()">
        <label>Title</label>
        I thought ng-model not scoped to the controller already, but I guess not?
        <input type="text" name="title" ng-model="grumblesCtrl.title">
        <label>Author Name</label>
        <input type="text" name="authorName" ng-model="grumblesCtrl.authorName">
        <label>Content</label>
        <textarea name="content" ng-model="grumblesCtrl.content">new grumble content</textarea>
        <label>Photo Url</label>
        <input type="text" name="photoUrl" ng-model="grumblesCtrl.photoUrl">
        <button class="new">New Grumble</button>
      </form>
    </div>
  </div>
   --></body>
</html>
