<div id="createGrumble">
  <form ng-submit="newGrumbleCtrl.create()">
    <label>Title</label>
    <input type="text" ng-model="newGrumbleCtrl.grumble.title">

    <label>Author Name</label>
    <input type="text" ng-model="newGrumbleCtrl.grumble.authorName">

    <label>Content</label>
    <textarea ng-model="newGrumbleCtrl.grumble.content"></textarea>

    <label>Photo Url</label>
    <input type="text" ng-model="newGrumbleCtrl.grumble.photoUrl">

    <button class="new">New Grumble</button>
  </form>
</div>
