<div class="grumble">
  <div>
    <h2>{{ grumbleCtrl.grumble.title }} <span class='delete' ng-click="grumbleCtrl.delete(grumbleCtrl.grumble.id)">(X)</span></h2>
    by: {{ grumbleCtrl.grumble.authorName }}
    <p>
      {{ grumbleCtrl.grumble.content }}
    </p>
    <img ng-src="{{ grumbleCtrl.grumble.photoUrl }}" alt="">
  </div>
  <a class="edit" ng-href="/#/grumbles/{{grumbleCtrl.grumble.id}}/edit">Edit Grumble</a>

  <div ng-controller="commentsController as commentsCtrl">
    <form ng-submit="commentsCtrl.create( grumble )">
      <!-- <label>Author Name:</label> -->
      <!-- <input type="text" name="authorName"> -->
      <label>Content:</label>
      <input type="text" name="content" ng-model="grumble.newCommentContent">
      <button>Submit</button>
    </form>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <p>{{grumble.newCommentContent}}</p>
    <div ng-repeat="comment in grumbleCtrl.grumble.comments">
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
