<form name="newGrumbleCtrl.grumbleForm" class='grumbleForm'>
  <label>Title</label>
  <input type="text" name="title" ng-model="newGrumbleCtrl.grumble.title">
  <label>Author Name</label>
  <input type="text" name="authorName" ng-model="newGrumbleCtrl.grumble.authorName">
  <label>Content</label>
  <textarea name="content" ng-model="newGrumbleCtrl.grumble.content">new grumble content</textarea>
  <label>Photo Url</label>
  <input type="text" name="photoUrl" ng-model="newGrumbleCtrl.grumble.photoUrl">
  <span ng-if="editing">
    <a ng-href="/#/grumbles/{{grumble.id}}">&larr; Back</a>
    <button type="button" ng-click="update()">Update</button>
  </span>
  <span ng-if="!editing">
    <button type="button" ng-click="create()">Create</button>
  </span>
</form>
