<div>
  <div id="createGrumble">
    <form name="newGrumbleCtrl.grumbleForm" class='grumbleForm' ng-submit="newGrumbleCtrl.create()">
      <label>Title</label>
      <input type="text" name="title" ng-model="newGrumbleCtrl.grumble.title">
      <label>Author Name</label>
      <input type="text" name="authorName" ng-model="newGrumbleCtrl.grumble.authorName">
      <label>Content</label>
      <textarea name="content" ng-model="newGrumbleCtrl.grumble.content">new grumble content</textarea>
      <label>Photo Url</label>
      <input type="text" name="photoUrl" ng-model="newGrumbleCtrl.grumble.photoUrl">
      <button class="new">New Grumble</button>
    </form>
  </div>
</div>
