<div>
  <div class="grumble">
    <div>
      <h2><a ng-href="/#/grumbles/{{grumbleCtrl.grumble.id}}">{{ grumbleCtrl.grumble.title }}</a> <span class='delete' ng-click="grumbleCtrl.delete(grumbleCtrl.grumble.$id)">(X)</span></h2>
      by: {{ grumbleCtrl.grumble.authorName }}
      <p>
        {{ grumbleCtrl.grumble.content }}
      </p>
      <img ng-src="{{ grumbleCtrl.grumble.photoUrl }}" alt="">
    </div>
    <a ng-href="/#/grumbles/{{grumbleCtrl.grumble.$id}}/edit">Edit Grumble</a>
  </div>
  <form class="commentForm" ng-submit="grumbleCtrl.createComment(grumbleCtrl.comment)">
    <label>Author Name:</label>
    <input type="text" ng-model="grumbleCtrl.comment.authorName" name="authorName">
    <label>Content:</label>
    <input type="text" ng-model="grumbleCtrl.comment.content" name="content">
    <button type="submit">Submit</button>
  </form>
  <ul ng-repeat="comment in grumbleCtrl.grumble.comments | orderBy:'-created_at'">
    <li>
      <strong>{{comment.authorName}}</strong>
      <small>{{comment.created_at}}</small><br>
      {{comment.content}}
    </li>
  </div>

</div>
